@page "/coaching"
@inject HttpClient Http

<PageTitle>Coaching</PageTitle>
<style type=text/css>
h1{
text-align:center;
color:#ffffff;
text-shadow: #000000 0.6em 0.6em 0.6em;

}
.kla1{
    border-radius:20px;
    margin:1%;
    padding:1%;
    background: linear-gradient(16deg, rgba(61,95,198,1) 0%, rgba(11,38,125,1) 38%, rgba(0,0,0,1) 100%);
    color:white;
    float:left;
    width:23%;
    height:400px;
    text-shadow: #000000 0.6em 0.6em 0.6em;
}
.studia2{
    border-radius:20px;
    margin:1%;
    padding:1%;
    background: linear-gradient(16deg, rgba(61,95,198,1) 0%, rgba(11,38,125,1) 38%, rgba(0,0,0,1) 100%);
    color:white;
    float:left;
    text-shadow: #000000 0.6em 0.6em 0.6em;
    clear:both;
}
</style>

<h1>Oferta coachingu</h1>
<div class="kla1">
    <h3>Coaching wstępny</h3>
    <p><i>0.5H</i></p>
    <p>Krótkie półgodzinne spotkanie, na którym pomogę Ci określić plan działania, cele i grunt pod dalszy coaching.
    Jeżeli nie jesteś przekonany co do pełnego coachingu ta opcja jest dla Ciebie !</p>
</div>
<div class="kla1">
<h3>Coaching</h3>
<p><i>1H</i></p>
<p>Godzinne spotkanie zawierające w sobie przegląd meczu, krótką rozmowę oraz dalszy plan działania</p>
</div>
<div class="kla1">
<h3>Zestaw Coaching</h3>
<p><i>2x1H</i></p>
<p>Zawiera dwie godzinne sesje następujące tydzień po tygodniu, przed i po, pozwalające zobaczyć twoje osiągnięcia i zlokalizować problemy</p>
</div>
<div class="kla1">
<h3>
Role Coaching</h3>
<p><i>2H</i></p>
<p>Jest to dwugodzinny coaching przeznaczony do nauki danej roli i związanych z nią mechanik. 

Podczas tego coachingu zdobędziesz niezbędną wiedzę do gry na danej pozycji</p>
</div>
<div class="studia2">
    Skontaktuj się ze mną 
    Discord: Eiser#6720
</div>

