@page "/coaching"
@inject HttpClient Http

<PageTitle>Coaching</PageTitle>
<style type=text/css>
.kla1{
    margin:1%;
    padding:1%;
    background-color:#a1a1a1;
    float:left;
    width:23%;
    height:400px;
}
</style>

<h1>Oferta coachingu</h1>
<div class="kla1">
    <h3>Coaching wstępny</h3>
    <p><i>0.5H</i></p>
    <p>Krótkie półgodzinne spotkanie, na którym pomogę Ci określić plan działania, cele i grunt pod dalszy coaching.
    Jeżeli nie jesteś przekonany co do pełnego coachingu ta opcja jest dla Ciebie !</p>
</div>
<div class="kla1">
<h3>Coaching</h3>
<p><i>1H</i></p>
<p>Godzinne spotkanie zawierające w sobie przegląd meczu, krótką rozmowę oraz dalszy plan działania</p>
</div>
<div class="kla1">
<h3>Zestaw Coaching</h3>
<p><i>2x1H</i></p>
<p>Zawiera dwie godzinne sesje następujące tydzień po tygodniu, przed i po, pozwalające zobaczyć twoje osiągnięcia i zlokalizować problemy</p>
</div>
<div class="kla1">
<h3>
Role Coaching</h3>
<p><i>2H</i></p>
<p>Jest to dwugodzinny coaching przeznaczony do nauki danej roli i związanych z nią mechanik. 

Podczas tego coachingu zdobędziesz niezbędną wiedzę do gry na danej pozycji</p>
</div>

