.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: no-repeat;
    background-size:cover;
    background-image: url("https://www.telegraph.co.uk/content/dam/gaming/2017/09/26/League-of-Legends-Worlds-Image_trans_NvBQzQNjv4BqNJjoeBT78QIaYdkJdEY4CnGTJFJS74MYhNY6w3GNbO8.jpg");
}

main {
    flex: 1;
}

.sidebar {
    background: rgb(61,95,198);
    background: linear-gradient(16deg, rgba(61,95,198,1) 0%, rgba(11,38,125,1) 38%, rgba(0,0,0,1) 100%);
    text-shadow: #000000 0.6em 0.6em 0.6em;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
